Repository solarwinds/swi-k8s-opentelemetry-collector, pull requests merged in 2024-12, with the labels that each got.

#808 Collect labels and annotations from manifest
  .vscode/launch.json
  deploy/helm/events-collector-config.yaml
  deploy/helm/metrics-collector-config.yaml
  deploy/helm/node-collector-config.yaml
  deploy/helm/templates/_helpers.tpl
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-collector-config-map-fargate_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-collector-config-map_test.yaml.snap
  deploy/helm/tests/__snapshot__/node-collector-config-map-windows_test.yaml.snap
  deploy/helm/tests/__snapshot__/node-collector-config-map_test.yaml.snap
  tests/integration/expected_telemetry/cronjob.json
  tests/integration/expected_telemetry/daemonset.json
  tests/integration/expected_telemetry/deployment.json
  tests/integration/expected_telemetry/persistentvolume.json
  tests/integration/expected_telemetry/persistentvolumeclaim.json
  tests/integration/expected_telemetry/pod.json
  tests/integration/expected_telemetry/replicaset.json
  tests/integration/expected_telemetry/service.json
  tests/integration/expected_telemetry/statefulset.json
  tests/integration/test_events_collection.py
  tests/integration/test_manifests_collection.py
  tests/integration/test_metric_collection.py
  tests/integration/test_utils.py
Labels: helm

#807 NH-70086 add init container for OTEL connection to node and event collectors
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/events-collector-deployment.yaml
  deploy/helm/templates/metrics-deployment.yaml
  deploy/helm/templates/node-collector-daemon-set-windows.yaml
  deploy/helm/templates/node-collector-daemon-set.yaml
  deploy/helm/tests/__snapshot__/events-collector-deployment_test.yaml.snap
  deploy/helm/tests/__snapshot__/node-collector-daemon-set-windows_test.yaml.snap
  deploy/helm/tests/__snapshot__/node-collector-daemon-set_test.yaml.snap
  deploy/helm/tests/metrics-deployment_test.yaml
  deploy/helm/tests/node-collector-daemon-set-windows_test.yaml
  deploy/helm/tests/node-collector-daemon-set_test.yaml
  deploy/helm/tests/notes_test.yaml
  deploy/helm/values.schema.json
  deploy/helm/values.yaml
  skaffold.yaml
  src/cmd/connectioncheck/connection_check.go
Labels: helm

#803 Updated `common-env-config-map.yaml`
  deploy/helm/templates/common-env-config-map.yaml
Labels: helm

#821 Fix typo in Helm NOTES.txt
  deploy/helm/templates/NOTES.txt
Labels: Skip Changelog

#812 Autodiscovery for Fargate pods
  deploy/helm/events-collector-config.yaml
  deploy/helm/metrics-collector-config.yaml
  deploy/helm/metrics-discovery-config.yaml
  deploy/helm/templates/metrics-discovery-config-map.yaml
  deploy/helm/templates/metrics-discovery-deployment.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-collector-config-map-fargate_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-collector-config-map_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-discovery-config-map_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-discovery-deployment_test.yaml.snap
  deploy/helm/tests/metrics-discovery-config-map_test.yaml
  deploy/helm/tests/metrics-discovery-deployment_test.yaml
  deploy/helm/values.schema.json
  deploy/helm/values.yaml
Labels: helm

#830 Remove workaround that is no longer necessary after updating OTEL Collector to v0.113.0
  deploy/helm/node-collector-config.yaml
  deploy/helm/tests/__snapshot__/node-collector-config-map-windows_test.yaml.snap
Labels: helm

#831 Stop annotating logs/events/metrics in node collector with pod and namespace labels and annotations
  deploy/helm/node-collector-config.yaml
  deploy/helm/tests/__snapshot__/node-collector-config-map-windows_test.yaml.snap
  deploy/helm/tests/__snapshot__/node-collector-config-map_test.yaml.snap
Labels: helm

#829 Update metadata about included packages
  build/docker/structure-test.yaml
  src/cmd/components.go
  src/cmd/metadata/metadata.go
Labels: docker

#835 Update Collector to send Values in config map
  deploy/helm/Chart.yaml
  deploy/helm/events-collector-config.yaml
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/common-env-config-map.yaml
  deploy/helm/templates/events-collector-config-map.yaml
  deploy/helm/templates/events-collector-deployment.yaml
  deploy/helm/templates/values-config-map.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
Labels: helm

#833 Make storageClassName configurable
  deploy/helm/templates/swo-agent-pvc.yaml
  deploy/helm/values.schema.json
  deploy/helm/values.yaml
Labels: helm

#828 Update dependencies
  deploy/helm/tests/swo-agent-statefulset_test.yaml
  deploy/helm/values.yaml
  src/cmd/go.mod
  src/cmd/go.sum
  tests/deploy/base/mocks.yaml
Labels: docker, helm
