Repository solarwinds/swi-k8s-opentelemetry-collector, pull requests merged in 2024-09, with the labels that each got.

#725 Refactor release notes
  .github/cr.sh
  .github/dependabot.yaml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/buildAndDeploy.yml
  .github/workflows/labeler.yml
  .github/workflows/releaseHelm.yml
Labels: Skip Changelog, ci/cd

#730 Remove draft release + bump a5
  .github/cr.sh
  deploy/helm/Chart.yaml
Labels: ci/cd

#732 Adds support for RedHat OpenShift clusters
  deploy/helm/templates/events-collector-deployment.yaml
  deploy/helm/templates/metrics-deployment.yaml
  deploy/helm/templates/node-collector-daemon-set.yaml
  deploy/helm/templates/openshift/openshift-role-binding.yaml
  deploy/helm/templates/openshift/openshift-role.yaml
  deploy/helm/tests/__snapshot__/events-collector-deployment_test.yaml.snap
  deploy/helm/tests/__snapshot__/metrics-deployment_test.yaml.snap
  deploy/helm/tests/__snapshot__/node-collector-daemon-set_test.yaml.snap
  deploy/helm/values.schema.json
  deploy/helm/values.yaml
Labels: helm

#728 Test helm all k8s available versions
  .github/actions/run-integration-tests/action.yaml
  .github/workflows/buildAndDeploy.yml
  .github/workflows/buildAndTestHelm.yml
  tests/integration/expected_metric_names.txt
  tests/integration/test_log_collection.py
  tests/integration/test_metric_collection.py
  tests/integration/test_utils.py
Labels: Skip Changelog, ci/cd

#718 Added labels and annotations to all the entities
  deploy/helm/CHANGELOG.md
  deploy/helm/events-collector-config.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
Labels: helm
