Repository solarwinds/swi-k8s-opentelemetry-collector, pull requests merged in 2025-03, with the labels that each got.

#950 Updating documentation after removing docker image of the repository
  README.md
  deploy/helm/Chart.yaml
  doc/development.md
Labels: documentation

#939 NH-81448 update to latest dockerhub images
  deploy/helm/values.yaml
Labels: helm

#962 Update Helm for swo-k8s-collector-4.5.0-alpha.4
  deploy/helm/Chart.yaml
Labels: Skip Changelog
