Repository solarwinds/swi-k8s-opentelemetry-collector, pull requests merged in 2025-02, with the labels that each got.

#890 Update README.md
  README.md
Labels: documentation

#892 Fix openshift provider detection
  deploy/helm/Chart.yaml
  deploy/helm/events-collector-config.yaml
  deploy/helm/templates/openshift/openshift-cluster-role-binding.yaml
  deploy/helm/templates/openshift/openshift-cluster-role.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
Labels: helm

#895 Collect manifests for namespaces
  deploy/helm/Chart.yaml
  deploy/helm/events-collector-config.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
Labels: helm

#878 Add container processor to send status events
  build/docker/structure-test.yaml
  deploy/helm/Chart.yaml
  deploy/helm/events-collector-config.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
  doc/development.md
  src/cmd/components.go
  src/cmd/go.mod
  src/cmd/go.sum
  src/cmd/metadata/metadata.go
  src/processor/containerprocessor/factory.go
  src/processor/containerprocessor/factory_test.go
  src/processor/containerprocessor/go.mod
  src/processor/containerprocessor/go.sum
  src/processor/containerprocessor/log_constructor.go
  src/processor/containerprocessor/manifest.go
  src/processor/containerprocessor/manifest_test.go
  src/processor/containerprocessor/processor.go
  src/processor/containerprocessor/processor_test.go
  tests/deploy/timeseries-mock-service/templates/configmap.yaml
  tests/deploy/timeseries-mock-service/templates/deployment.yaml
  tests/integration/test_entity_state_events_collection.py
  tests/integration/test_utils.py
Labels: helm

#899 Fix operator publish
  .github/operator.sh
  operator/swo-otel-operator.clusterserviceversion.yaml
Labels: ci/cd

#904 new helm version
  .github/workflows/buildAndTestHelm.yml
  deploy/helm/Chart.yaml
  deploy/helm/tests/__snapshot__/events-collector-config-map_test.yaml.snap
  deploy/helm/tests/__snapshot__/events-collector-deployment_test.yaml.snap
  deploy/helm/values.yaml
Labels: Skip Changelog

#905 Fix timestamp of entity state events
  src/processor/containerprocessor/log_constructor.go
  src/processor/containerprocessor/processor.go
  src/processor/containerprocessor/processor_test.go
Labels: docker
